<!DOCTYPE html>
<html>
<head>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700|Source+Code+Pro:300,600|Titillium+Web:400,600,700" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <meta charset="UTF-8">
    <link rel="icon" type="image/png" href="/images/favicon.ico" sizes="64x64 32x32 16x16" />
    <style>
        pre {
        overflow-x: auto;
        white-space: pre-wrap;
        white-space: -moz-pre-wrap;
        white-space: -pre-wrap;
        white-space: -o-pre-wrap;
        word-wrap: break-word;
        }
    </style>
</head>
<body>
    <div id="app">
        <v-app>
            <v-app-bar
                app
                short
                src="images/star-registry-navbar-100px-height.jpg"
            >       
                <v-app-bar-title class="text-no-wrap font-weight-bold">Star Registry</v-app-bar-title>
        
                <v-spacer></v-spacer>
        
                <v-btn icon href="about.html" target="_blank">
                    <v-icon>mdi-help</v-icon>
                </v-btn>
        
                <v-btn icon>
                    <v-icon>mdi-api</v-icon>
                </v-btn>
        
                <v-btn icon href="/">
                    <v-icon>mdi-home</v-icon>
                </v-btn>
            </v-app-bar>
            <v-content>
                <v-container>
                    <h1>Explore the API</h1>
                    <v-expansion-panels 
                        focusable
                    >
                        <v-expansion-panel>
                            <v-expansion-panel-header
                                color="#C0D8E7"
                            >
                                <strong>/block/hash/:hash</strong>
                            </v-expansion-panel-header>
                            <v-expansion-panel-content>
                                <p>Returns the block with a given hash value</p>
                                <v-divider></v-divider>
                                <v-row>
                                    <v-col cols="12" md="6">
                                        <v-text-field
                                            v-model="hash"
                                            label="Block hash"
                                        ></v-text-field>
                                        <v-btn
                                            color="primary"
                                            dense
                                            @click="requestHash()"
                                        >
                                            GET
                                        </v-btn>
                                    </v-col>
                                    <v-col cols="12" md="6">
                                        <p 
                                            v-if="JSON.stringify(hashResult) == JSON.stringify({})"
                                        >The result will appear here.</p>
                                        <pre
                                            v-else
                                        >{{ hashResult }}</pre>
                                    </v-col>
                                </v-row>
                            </v-expansion-panel-content>
                        </v-expansion-panel>
                        <v-expansion-panel>
                            <v-expansion-panel-header>
                                <strong>/block/height/:height</strong>
                            </v-expansion-panel-header>
                            <v-expansion-panel-content>
                                <p>Returns the block in a given position inside the blockchain (starting from 0)</p>
                                <v-divider></v-divider>
                                <v-row>
                                    <v-col cols="12" md="6">
                                        <v-text-field
                                            v-model="height"
                                            label="Block height"
                                            type="number"
                                            min="0" 
                                            step="1"
                                        ></v-text-field>
                                        <v-btn
                                            color="primary"
                                            dense
                                            @click="requestHeight()"
                                        >
                                            GET
                                        </v-btn>
                                    </v-col>
                                    <v-col cols="12" md="6">
                                        <p 
                                            v-if="JSON.stringify(heightResult) == JSON.stringify({})"
                                        >The result will appear here.</p>
                                        <pre
                                            v-else
                                        >{{ heightResult }}</pre>
                                    </v-col>
                                </v-row>
                            </v-expansion-panel-content>
                        </v-expansion-panel>
                        <v-expansion-panel>
                            <v-expansion-panel-header
                                color="#C0D8E7"
                            >
                                <strong>/blocks/:address</strong>
                            </v-expansion-panel-header>
                            <v-expansion-panel-content>
                                <p>Returns the stars objects owned by a given address</p>
                                <v-divider></v-divider>
                                <v-row>
                                    <v-col cols="12" md="6">
                                        <v-text-field
                                            v-model="address"
                                            label="Owner address"
                                        ></v-text-field>
                                        <v-btn
                                            color="primary"
                                            dense
                                            @click="requestAddress()"
                                        >
                                            GET
                                        </v-btn>
                                    </v-col>
                                    <v-col cols="12" md="6">
                                        <p 
                                            v-if="JSON.stringify(addressResult) == JSON.stringify({})"
                                        >The result will appear here.</p>
                                        <pre
                                            v-else
                                        >{{ addressResult }}</pre>
                                    </v-col>
                                </v-row>
                            </v-expansion-panel-content>
                        </v-expansion-panel>
                        <v-expansion-panel>
                            <v-expansion-panel-header>
                                <strong>/requestValidation</strong>
                            </v-expansion-panel-header>
                            <v-expansion-panel-content>
                                <p>Returns the validation message to be signed by the owner of a new star object</p>
                                <v-divider></v-divider>
                                <v-row>
                                    <v-col cols="12" md="6">
                                        <v-text-field
                                            v-model="address"
                                            label="Owner address"
                                        ></v-text-field>
                                        <v-btn
                                            color="success"
                                            dense
                                            @click="requestValidation()"
                                        >
                                            POST
                                        </v-btn>
                                    </v-col>
                                    <v-col cols="12" md="6">
                                        <p 
                                            v-if="validationResult == ''"
                                        >The result will appear here.</p>
                                        <pre
                                            v-else
                                        >{{ validationResult }}</pre>
                                    </v-col>
                                </v-row>
                            </v-expansion-panel-content>
                        </v-expansion-panel>
                        <v-expansion-panel>
                            <v-expansion-panel-header
                                color="#C0D8E7"
                            >
                                <strong>/submitStar</strong>
                            </v-expansion-panel-header>
                            <v-expansion-panel-content>
                                <p>Adds a new star object to the blockchain, provided the signature is valid and the timestamp is not older than 5 minutes<p>
                                <v-divider></v-divider>
                                <v-row>
                                    <v-col cols="12" md="6">
                                        <v-text-field
                                            v-model="address"
                                            label="Owner address"
                                        ></v-text-field>
                                        <v-text-field
                                            v-model="validationMessage"
                                            label="Validation Message"
                                        ></v-text-field>
                                        <v-text-field
                                            v-model="signature"
                                            label="Signature"
                                        ></v-text-field>
                                        <v-text-field
                                            v-model="star"
                                            label="Star Object"
                                        ></v-text-field>
                                        <v-btn
                                            color="success"
                                            dense
                                            @click="registerStar()"
                                        >
                                            POST
                                        </v-btn>
                                    </v-col>
                                    <v-col cols="12" md="6">
                                        <p 
                                            v-if="registerStarResult == ''"
                                        >The result will appear here.</p>
                                        <pre
                                            v-else
                                        >{{ registerStarResult }}</pre>
                                    </v-col>
                                </v-row>
                            </v-expansion-panel-content>
                        </v-expansion-panel>
                        <v-expansion-panel>
                            <v-expansion-panel-header><strong>/validateChain</strong></v-expansion-panel-header>
                            <v-expansion-panel-content>
                                <p>If the blockchain data has been tampered with, returns a list of errors.</p>
                                <v-divider></v-divider>
                                <v-row>
                                    <v-col cols="12" md="6">
                                        <v-btn
                                            color="primary"
                                            dense
                                            @click="validateChain()"
                                        >
                                            GET
                                        </v-btn>
                                    </v-col>
                                    <v-col cols="12" md="6">
                                        <p 
                                            v-if="validateChainResult == ''"
                                        >The result will appear here.</p>
                                        <pre
                                            v-else
                                        >{{ validateChainResult }}</pre>
                                    </v-col>
                                </v-row>
                            </v-expansion-panel-content>
                        </v-expansion-panel>
                    </v-expansion-panels>
                    <v-divider></v-divider>
                    <h1>How to sign a message</h1>
                    <h2>and prove your identity with the Bitcoin Core client</h2>
                    <div class="title mb-1">
                        Step 1: if you don't have a legacy address, create one
                    </div>
                    <v-img
                        src="/images/how-to-sign-a-message-with-bitcoin-core-1.jpg"
                    ></v-img>
                    <br>
                    <div class="title mb-1">
                        Step 2: Open the File -> Sign Message... menu option
                    </div>
                    <v-img
                        src="/images/how-to-sign-a-message-with-bitcoin-core-2.jpg"
                    ></v-img>
                    <br>
                    <div class="title mb-1">
                        Step 3: Sign the message and copy it to paste in our API explorer
                    </div>
                    <v-img
                        src="/images/how-to-sign-a-message-with-bitcoin-core-3.jpg"
                    ></v-img>
                </v-container>
            </v-content>
        </v-app>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
    <script>
        new Vue({
            el: '#app',
            vuetify: new Vuetify(),
            data: {
                raHour: 0,
                raMin: 0,
                raSec: 0,
                decDegree: 0,
                decMin: 0,
                decSec: 0,
                star: JSON.stringify({
                    "dec": "68° 52' 56.9",
                    "ra": "16h 29m 1.0s",
                    "story": "Testing the story 4"
                }),
                height: 0,
                heightResult: {},
                hash: "63309a36ad1222ef85d65dfb526841e20aec5e4abcde3c6d692409a59bb6ad23",
                hashResult: {},
                story: "",
                address: "mybtRVvMEbrXHUKnZjaegXc5jEExKaQKGn",
                addressResult: {},
                requestValidationError: false,
                validationMessage: "",
                validationResult: "",
                registerStarResult: "",
                validateChainResult: "",
                signature: "",
                registrationError: false,
                latestNewBlock: {}
            },
            methods: {
                requestHash: function() {
                    this.hashResult = {};
                    const endpoint = "/block/hash/" + this.hash;
                    fetch(endpoint)
                        .then(response => {
                            if (!response.ok) {
                                if (response.status == 404) {
                                    this.hashResult = { 
                                                    "error": 404,
                                                    "message": "Block Not Found" 
                                                };
                                }
                                throw Error(response.statusText);
                            }
                            this.requestValidationError = false;
                            return response;
                        })
                        .then(response => response.json())
                        .then(json => this.hashResult = json)
                        .catch(error => {
                            console.error(error);
                    });
                },
                requestHeight: function() {
                    this.heightResult = {};
                    const endpoint = "/block/height/" + this.height;
                    fetch(endpoint)
                        .then(response => {
                            if (!response.ok) {
                                if (response.status == 404) {
                                    this.heightResult = { 
                                                    "error": 404,
                                                    "message": "Block Not Found" 
                                                };
                                }
                                throw Error(response.statusText);
                            }
                            this.requestValidationError = false;
                            return response;
                        })
                        .then(response => response.json())
                        .then(json => this.heightResult = json)
                        .catch(error => {
                            console.error(error);
                    });
                },
                requestAddress: function() {
                    this.addressResult = {};
                    const endpoint = "/blocks/" + this.address;
                    fetch(endpoint)
                        .then(response => {
                            if (!response.ok) {
                                if (response.status == 404) {
                                    this.addressResult = { 
                                                    "error": 404,
                                                    "message": "Block Not Found" 
                                                };
                                }
                                throw Error(response.statusText);
                            }
                            this.requestValidationError = false;
                            return response;
                        })
                        .then(response => response.json())
                        .then(json => this.addressResult = json)
                        .catch(error => {
                            console.error(error);
                    });
                },
                requestValidation: function() {
                    if (this.address != "") {
                        const options = {
                            method: "POST",
                            headers: {
                                'Content-Type': 'application/x-www-form-urlencoded',
                            },
                            body: 'address=' + this.address
                        };
                        fetch("/requestValidation", options)
                            .then(response => {
                                if (!response.ok) {
                                    throw Error(response.statusText);
                                }
                                this.requestValidationError = false;
                                return response;
                            })
                            .then(response => response.text())
                            .then(data => {
                                this.validationResult = data;
                                this.validationMessage = data.split('"')[1];
                                this.signature = "";
                            })
                            .catch(error => {
                                console.error(error);
                        });
                    }
                },
                registerStar: function() {
                    // const star = {
                    //     "ra": this.raHour + "h " + this.raMin + "' " + this.raSec + '"',
                    //     "dec": this.decDegree + "° " + this.decMin + "' " + this.decSec + '"',
                    //     "story": this.story
                    // }
                    const options = {
                        method: "POST",
                        headers: {
                            'Content-Type': 'application/x-www-form-urlencoded',
                        },
                        body: 'address=' + this.address +
                            '&message=' + this.validationMessage +
                            '&signature=' + encodeURIComponent(this.signature) +
                            '&star=' + JSON.stringify(this.star)
                    };
                    fetch("/submitStar", options)
                        .then(response => {
                            if (!response.ok) {
                                throw Error(response.statusText);
                            }
                            return response;
                        })
                        .then(response => response.text())
                        .then(data => {
                            this.registerStarResult = data;
                        })
                        .catch(error => {
                            console.error(error);
                        });
                },
                validateChain: function() {
                    this.validateChainResult = {};
                    const endpoint = "/validateChain";
                    fetch(endpoint)
                        .then(response => {
                            if (!response.ok) {
                                throw Error(response.statusText);
                            }
                            this.validateChainError = false;
                            return response;
                        })
                        .then(response => response.json())
                        .then(json => this.validateChainResult = json)
                        .catch(error => {
                            console.error(error);
                    });
                },
                resetAllValues: function() {
                    this.raHour = 0;
                    this.raMin = 0;
                    this.raSec=  0;
                    this.decDegree = 0;
                    this.decMin = 0;
                    this.decSec = 0;
                    this.story = "";
                    this.address = "";
                    this.requestValidationError = false;
                    this.validationMessage = "";
                    this.signature = "";
                    this.latestNewBlock = {};
                    this.step = 1;
                    this.registrationError = false;
                },
                inputDataAgain: function() {
                    this.registrationError = false;
                    this.step = 2;
                }
            }
        });
    </script>
</body>
</html>