<!DOCTYPE html>
<html>
<head>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700|Source+Code+Pro:300,600|Titillium+Web:400,600,700" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <meta charset="UTF-8">
    <link rel="icon" type="image/png" href="/images/favicon.ico" sizes="64x64 32x32 16x16" />
    <style>
        pre {
        overflow-x: auto;
        white-space: pre-wrap;
        white-space: -moz-pre-wrap;
        white-space: -pre-wrap;
        white-space: -o-pre-wrap;
        word-wrap: break-word;
        }
    </style>
</head>
<body>
    <div id="app">
        <v-app>

            <v-app-bar
                app
                shrink-on-scroll
                prominent
                src="images/star-registry-navbar-light.jpg"
            >
        
                <v-app-bar-title><strong>Star Registry</strong></v-app-bar-title>
        
                <v-spacer></v-spacer>
        
                <v-btn icon>
                    <v-icon>mdi-magnify</v-icon>
                </v-btn>
        
                <v-btn icon href="api.html" target="_blank">
                    <v-icon>mdi-api</v-icon>
                </v-btn>
        
                <v-btn icon>
                    <v-icon>mdi-home</v-icon>
                </v-btn>
            </v-app-bar>
            <v-content>
                <v-container>
                    <template>
                        <v-stepper
                            v-model="step"
                            vertical
                        >
                            <v-stepper-step
                                :complete="step > 1"
                                step="1"
                            >
                                Which star are you registering?
                                <small>Inform its Dec, RA. Add an optional story.</small>
                            </v-stepper-step>
                        
                            <v-stepper-content step="1">
                                <v-row>
                                    <v-col cols="12" md="6">
                                        <v-card
                                            color="grey lighten-4"
                                            height="100%"
                                        >
                                            <v-card-title>Right Ascension</v-card-title>
                                            <v-card-text>
                                                <v-container fluid>
                                                    <v-row>
                                                        <v-col 
                                                            cols="12"
                                                        >
                                                            <v-slider
                                                                v-model="raHour"
                                                                :max="23"
                                                                class="align-start"
                                                            >
                                                                <template v-slot:append>
                                                                    <v-text-field
                                                                        v-model="raHour"
                                                                        class="mt-0 pt-0"
                                                                        type="number"
                                                                        style="width: 75px"
                                                                        suffix="h"
                                                                        dense
                                                                        outlined
                                                                    ></v-text-field>
                                                                </template>
                                                            </v-slider>
                                                            <v-spacer></v-spacer>
                                                            <v-slider
                                                                v-model="raMin"
                                                                :max="59"
                                                                class="align-center"
                                                            >
                                                                <template v-slot:append>
                                                                    <v-text-field
                                                                        v-model="raMin"
                                                                        class="mt-0 pt-0"
                                                                        type="number"
                                                                        style="width: 75px"
                                                                        suffix="m"
                                                                        dense
                                                                        outlined
                                                                    ></v-text-field>
                                                                </template>
                                                            </v-slider>
                                                            <v-spacer></v-spacer>
                                                            <v-slider
                                                                v-model="raSec"
                                                                :max="59"
                                                                step="0.1"
                                                                align-self="end"
                                                                class="align-end"
                                                            >
                                                                <template v-slot:append>
                                                                    <v-text-field
                                                                        v-model="raSec"
                                                                        class="mt-0 pt-0"
                                                                        type="number"
                                                                        style="width: 80px"
                                                                        suffix="s"
                                                                        dense
                                                                        outlined
                                                                    ></v-text-field>
                                                                </template>
                                                            </v-slider>
                                                        </v-col>
                                                    </v-row>
                                                </v-container>
                                            </v-card-text>
                                        </v-card>
                                    </v-col>
                                    <v-col cols="12" md="6">
                                        <v-card
                                            color="grey lighten-4"
                                            height="100%"
                                        >
                                            <v-card-title>Declination</v-card-title>
                                            <v-card-text>
                                                <v-container fluid>
                                                    <v-row>
                                                        <v-col cols="4">
                                                            <v-slider
                                                                v-model="decDegree"
                                                                :min="-90"
                                                                :max="90"
                                                                vertical
                                                            >
                                                            <template v-slot:append>
                                                                <v-text-field
                                                                    v-model="decDegree"
                                                                    class="mt-0 pt-0"
                                                                    type="number"
                                                                    style="width: 70px"
                                                                    suffix="°"
                                                                    dense
                                                                    outlined
                                                                ></v-text-field>
                                                            </template>
                                                            </v-slider>
                                                        </v-col>
                                                        <v-col cols="4">
                                                            <v-slider
                                                                v-model="decMin"
                                                                :max="59"
                                                                vertical
                                                            >
                                                            <template v-slot:append>
                                                                <v-text-field
                                                                    v-model="decMin"
                                                                    class="mt-0 pt-0"
                                                                    type="number"
                                                                    style="width: 70px"
                                                                    suffix="'"
                                                                    dense
                                                                    outlined
                                                                ></v-text-field>
                                                            </template>
                                                            </v-slider>
                                                        </v-col>
                                                        <v-col cols="4">
                                                            <v-slider
                                                                v-model="decSec"
                                                                :max="59"
                                                                step="0.1"
                                                                vertical
                                                            >
                                                                <template v-slot:append>
                                                                    <v-text-field
                                                                        v-model="decSec"
                                                                        class="mt-0 pt-0"
                                                                        type="number"
                                                                        style="width: 80px"
                                                                        suffix="''"
                                                                        dense
                                                                        outlined
                                                                    ></v-text-field>
                                                                </template>
                                                            </v-slider>
                                                        </v-col>
                                                    </v-row>
                                                </v-container>
                                            </v-card-text>
                                        </v-card>
                                    </v-col>
                                </v-row>
                                <v-row>
                                    <v-col
                                        cols="12"
                                    >
                                        <v-text-field
                                            v-model="story"
                                            dense
                                            label="Optional: Type your story about this star"
                                            outlined
                                        ></v-text-field>
                                    </v-col>
                                </v-row>
                                <v-btn
                                    color="primary"
                                    @click="step = 2"
                                >
                                    Continue
                                </v-btn>
                            </v-stepper-content>

                            <v-stepper-step
                                :complete="step > 2"
                                step="2"
                            >
                                Verify your identity
                            </v-stepper-step>
                            <v-stepper-content step="2">
                                <v-row>
                                    <v-col
                                        cols="12"
                                    >
                                    </v-col>
                                    <v-col
                                        cols="12"
                                    >
                                        <v-text-field
                                            v-model="address"
                                            v-on:keyup="requestValidation"
                                            label="What is your bitcoin address?"
                                            outlined
                                        ></v-text-field>
                                    </v-col>
                                    <v-col
                                        cols="12"
                                    >
                                        <v-alert 
                                            v-if="address != ''"
                                            type="info"
                                            icon="mdi-draw"
                                            dense
                                            prominent
                                        >
                                            Sign this message:
                                            <br>
                                            (expiration in 5 minutes)
                                            <div class="headline">
                                                <strong>{{ validationMessage }}</strong>
                                            </div>
                                        </v-alert>
                                    </v-col>    
                                    <v-col
                                        cols="12"
                                    >
                                        <v-text-field
                                            v-if="address != ''"
                                            v-model="signature"
                                            label="What is the signature for the above message?"
                                            outlined
                                        ></v-text-field>
                                    </v-col>
                                </v-row>
                                <v-btn
                                    color="primary"
                                    :disabled="signature == '' || requestValidationError"
                                    @click="step = 3"
                                >
                                    Continue
                                </v-btn>
                                <v-btn 
                                    @click="step = 1"
                                >
                                    Back
                                </v-btn>
                            </v-stepper-content>
                        
                            <v-stepper-step
                                :complete="step > 3"
                                step="3"
                            >
                                Confirm the data and register your star on the blockchain
                            </v-stepper-step>
                        
                            <v-stepper-content step="3">
                                <v-row>
                                    <v-col 
                                        cols="12"
                                    >
                                        <pre>Owner = {{ address }}
Star = 
    Right ascension: {{ raHour }}h {{ raMin }}m {{ raSec }}s  
    Declination: {{ decDegree }}° {{ decMin }}' {{ decSec }}''
    Story: {{ story }}
Signature = {{ signature }}</pre>
                                    </v-col>
                                    <v-col
                                        cols="12"
                                    >
                                        <v-alert 
                                            v-if="registrationError"
                                            type="error"
                                            dense
                                            prominent
                                        >
                                            Network error, invalid address or signature. Please go back one step, review your info and try again.
                                        </v-alert>
                                    </v-col>
                                </v-row>
                                <v-btn
                                    color="primary"
                                    @click="registerStar()"
                                >
                                    Register
                                </v-btn>
                                <v-btn 
                                    @click="inputDataAgain()"
                                >
                                    Back
                                </v-btn>
                            </v-stepper-content>
                        
                            <v-stepper-step step="4">
                                View the newly added block
                            </v-stepper-step>
                            <v-stepper-content step="4">
                                <v-container fluid>
                                    <v-row>
                                        <v-col>
                                            <v-card
                                                color="grey lighten-4"
                                                height="100%"
                                            >
                                                <v-card-title>New Block added</v-card-title>
                                                <v-card-text>
                                                    <pre>{{ latestNewBlock }}</pre>
                                                </v-card-text>
                                            </v-card>
                                        </v-col>
                                    </v-row>
                                </v-container>
                                <v-btn
                                    color="primary"
                                    @click="resetAllValues()"
                                >
                                    Submit another star
                                </v-btn>
                            </v-stepper-content>
                        </v-stepper>
                    </template>
                </v-container>
            </v-content>
        </v-app>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
    <script>
        new Vue({
            el: '#app',
            vuetify: new Vuetify(),
            data: {
                raHour: 0,
                raMin: 0,
                raSec: 0,
                decDegree: 0,
                decMin: 0,
                decSec: 0,
                step: 1,
                story: "",
                address: "",
                requestValidationError: false,
                validationMessage: "",
                signature: "",
                registrationError: false,
                latestNewBlock: {}
            },
            methods: {
                requestValidation: function() {
                    if (this.address != "") {
                        const options = {
                            method: "POST",
                            headers: {
                                'Content-Type': 'application/x-www-form-urlencoded',
                            },
                            body: 'address=' + this.address
                        };
                        fetch("/requestValidation", options)
                            .then(response => {
                                if (!response.ok) {
                                    throw Error(response.statusText);
                                }
                                this.requestValidationError = false;
                                return response;
                            })
                            .then(response => response.text())
                            .then(data => this.validationMessage = data.split('"')[1])
                            .catch(error => {
                                this.requestValidationError = true;
                                console.error(error);
                        });
                    }
                },
                registerStar: function() {
                    const star = {
                        "ra": this.raHour + "h " + this.raMin + "' " + this.raSec + '"',
                        "dec": this.decDegree + "° " + this.decMin + "' " + this.decSec + '"',
                        "story": this.story
                    }
                    const options = {
                        method: "POST",
                        headers: {
                            'Content-Type': 'application/x-www-form-urlencoded',
                        },
                        body: 'address=' + this.address +
                            '&message=' + this.validationMessage +
                            '&signature=' + encodeURIComponent(this.signature) +
                            '&star=' + JSON.stringify(star)
                    };
                    fetch("/submitStar", options)
                        .then(response => {
                            if (!response.ok) {
                                throw Error(response.statusText);
                            }
                            return response;
                        })
                        .then(response => response.json())
                        .then(json => {
                            this.latestNewBlock = json;
                            this.step = 4;
                        })
                        .catch(error => {
                            this.registrationError = true;
                            console.error(error);
                        });
                },
                resetAllValues: function() {
                    this.raHour = 0;
                    this.raMin = 0;
                    this.raSec=  0;
                    this.decDegree = 0;
                    this.decMin = 0;
                    this.decSec = 0;
                    this.story = "";
                    this.address = "";
                    this.requestValidationError = false;
                    this.validationMessage = "";
                    this.signature = "";
                    this.latestNewBlock = {};
                    this.step = 1;
                    this.registrationError = false;
                },
                inputDataAgain: function() {
                    this.registrationError = false;
                    this.step = 2;
                }
            }
        });
    </script>
</body>
</html>